<!-- Form -->

<form action="/" method="post">
  <label for="from">From</label>
  <input type='text' name="from" id="from"></input>

  <label for="to">To</label>
  <input type='text' name="to" id="to"></input>

  <button type='submit'>Submit</button>
</form>
