<!-- Form -->

<form action="/move" method="post">
  <label class="label" for="from">From</label>
  <input type='text' name="from" id="from">From</input>

  <label class="label" for="to">To</label>
  <input type='text' name="to" id="to">To</input>

  <button type='submit'>Submit</button>
</form>
